body {
  background-color: rgb(255, 100, 2);
  font-family: arial;
  text-align: center;
}

h1 {
  color: rgb(149, 69, 53);
  font-family: cursive;
}

ul {
  padding:0;
  margin:0;
  list-style: none;
}

.ingredients :nth-child(1) {
  color: #ff2400;
}
.ingredients :nth-child(2) {
  color: #86b200;
}
.ingredients :nth-child(3) {
  color: #0061ba;
}
.ingredients :nth-child(4) {
  color: #28e6ee;
}
.ingredients :nth-child(5) {
  color: #ffd700;
}
.ingredients :nth-child(6) {
  color: #73634a;
}
.ingredients :nth-child(7) {
  color: #990080;
}
.ingredients :nth-child(8) {
  color: #f9e593;
}
.ingredients :nth-child(9) {
  color: #ffffff;
}
.ingredients :nth-child(10) {
  color: #000000;
}
.ingredients :nth-child(11) {
  color: #cccbbb;
}
